<%- include("header") -%>
<div class="container mt-5">
  <h1>Expense Management System</h1>

<div class="row">
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
         <%items.forEach(function(item){%>
           <form action="/delete" method="post">
             <div class="row">
               <h3><p><%=item%></p></h3>
               <input type="checkbox" name="checkbox" value="" onchange="this.form.submit()">
             </div>
           </form>
        <% })%>


        <form action="/" method="post">
          <input type="text" name="product" placeholder="Product">
          <input type="text" name="cost" placeholder="cost">
          <button class="btn btn-md btn-primary" type="submit" name="button">Add</button>
        </form>
        </div>
    </div>
  </div>
</div>
</div>
